 /* this is the universal */ 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 /* body background added white text*/ 
body {
    background-color: #d9dcd6;
    color:white
}
 /* header */ 
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}
 /* navigation */ 
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: style type none;
}
 /* style of nav menu text */ 
a {
    text-decoration: none;
    color:white
}

 /* large body image formatting */ 
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* style of all paragraph text */ 
p {   
    font-size: 16px;
    margin-bottom: 32px;
}
 /* main page content semantic name */ 
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
section {    
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}
 /* main section style consolidated to 1 vs 3 styles */
.search-engine-optimization .online-reputation-management .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}

 /* main images: consolidated styles to 1 vs 3 */
.mainimage {
    max-height: 200px;
    float: left;
    margin-right: 25px; 
}

/* main headers: consolidated styles to 1 vs 3 */
.mainheader {
    font-size: 36px;
    margin-bottom: 20px; 
}
/* Class for Rep Mgt Section image to float */
#float-right {
    float: right;
    margin-left: 25px;
}

/* This is the aside content consolidated */   
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
 /* aside header text: consolidated to 1 vs 3 styles */ 
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

 /* aside image: consolidated to 1 vs 3 styles */ 

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

 /* footer consolidated to 1 vs 2 sections */ 
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    color:black
}